:root {
  --main-color: #ffffff;
  --text-color: #212121;
  --accent-color: #2196f3;
  --alt-text-color: #757575;
  --main-bg-color: #f5f4fa;
  --alt-bg-color: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-color);
}

.header {
  width: 1600px;
  left: 0px;
  top: 0px;
  background: var(--main-bg-color);
}
.Webstudio {
  margin-right: 93px;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: left;
  color: var(--accent-color);
}

.color1 {
  color: var(--text-color);
}
.color2 {
  color: var(--main-color);
}
.text-decoration {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.work-links {
  margin-right: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: left;

  color: var(--text-color);
}
.work-links:hover,
.work-links:focus {
  color: var(--accent-color);
}
.contacts {
  margin-right: 50px;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--alt-text-color);
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section1 {
  width: 1600px;
  left: 0px;
  top: 80px;
  text-align: center;
  background: var(--alt-bg-color);
}
.effective_decisions {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}
.button_order_service {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
}

.skills {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}
.skill_blocks {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
}
.task,
.team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.section2 {
  background: var(--main-bg-color);
}
.name {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.job {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
}
.button_profile_lists {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background: var(--main-bg-color);
  border-radius: 4px;
}
.button_profile_lists:hover,
.button_profile_lists:focus {
  color: var(--main-color);
  background: var(--accent-color);
}
.goods {
  text-decoration: none;
}
.brand {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
}
.footer {
  width: 1600px;
  left: 0px;
  top: 2097px;
  background: var(--alt-bg-color);
}
.adress {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
